Notebook generado para la evaluacion del modelo 
Nombre:Ejecucion del modelo con Bertopic
Autor: Irma Izquierdo."

Importamos las librerias necesarias para la generacion de la lista
clasificada de docentes.

In [1]:
from bertopic import BERTopic
from bertopic.vectorizers import ClassTfidfTransformer
import json
import pandas as pd

c:\Users\USUARIO\AppData\Local\Programs\Python\Python39\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

En la siguiente linea cargamos el modelo generado

In [2]:
model_bt_fnl=BERTopic.load("model_final")

Realizamos la busqueda del topico

In [3]:
lista1=model_bt_fnl.find_topics("bomba calor")
lista1

([19, 189, 88, 259, 257],
 [0.71509635, 0.6918075, 0.67702705, 0.62389904, 0.6082424])

Establecemos la conecxion con la base de datos y la declarion de consultas para 
la busqueda.

In [4]:
import mysql
import mysql.connector as mysql
conexion = mysql.connect(
    host = "localhost",
    user = #usuario BD,
    password = #clave BD",
    database=#nombre BD"
)
mycursor = conexion.cursor()
mycursorT1 = conexion.cursor()
mycursorT2 = conexion.cursor()
mycursorT3 = conexion.cursor()
mycursorT4 = conexion.cursor()
mycursorT5 = conexion.cursor()
mycursoR1=conexion.cursor()
mycursorTr=conexion.cursor()
sqlSelectT1 = "select temaDirector,temaP1,temaUno from tema where temaUno in (%s,%s,%s,%s,%s)"
sqlSelectT2 = "select temaDirector,temaP2,temaDos from tema where temaDos in (%s,%s,%s,%s,%s)"
sqlSelectT3 = "select temaDirector,temaP3,temaTres from tema where temaTres in (%s,%s,%s,%s,%s)"
sqlSelectT4 = "select temaDirector,temaP4,temaCuatro from tema where temaCuatro in (%s,%s,%s,%s,%s)"
sqlSelectT5 = "select temaDirector,temaP5,temaCinco from tema where temaCinco in (%s,%s,%s,%s,%s)"
sqlInsert = "INSERT INTO lista_rank (lista_rankDirector,lista_rankTema ,lista_rankProbabilidad,lista_ranktemapb,lista_rankcol ) VALUES (%s, %s, %s,%s,%s)"
sqlResult="select lista_rankDirector,sum((lista_rankProbabilidad*lista_rankcol)) def from lista_rank group by lista_rankDirector order by def desc"
sqltruncate="truncate table lista_rank"
mycursorTr.execute(sqltruncate)

Ejecutamos las consultas, insertamos en nuestra tabla los resultados y le damos
formato a la salida de la lista clasificada.

In [ ]:

listaTotal=[]
listarankeada=[]
value4=''
d=''
listaTemas=str(lista1[0]).split(",")
listaPb=str(lista1[1]).split(",")
p1=listaTemas[0].replace("[","").replace(" ","")
p2=listaTemas[1].replace(" ","")
p3=listaTemas[2].replace(" ","")
p4=listaTemas[3].replace(" ","")
p5=listaTemas[4].replace("]","").replace(" ","")
p=(p1,p2,p3,p4,p5,) 
mycursorT1.execute(sqlSelectT1, p)
listaTotal.append(mycursorT1.fetchall())
mycursorT2.execute(sqlSelectT2, p)
listaTotal.append(mycursorT2.fetchall())
mycursorT3.execute(sqlSelectT3, p)
listaTotal.append(mycursorT3.fetchall())
mycursorT4.execute(sqlSelectT4, p)
listaTotal.append(mycursorT4.fetchall())
mycursorT5.execute(sqlSelectT5, p)
listaTotal.append(mycursorT5.fetchall())
for j in listaTotal:
        for i in j:
           listaAux=(str(i).replace("[(","").replace(")]","").split(","))
           value1=listaAux[0].replace("(","").replace("'","")
           value2=listaAux[1]
           value3=listaAux[2] 
           m= ((value3.replace(")","")).replace("(","")).replace(" ","")
           for h in range(0,len(listaTemas)):
               V=(str(listaTemas[h]).replace("[","").replace("]","")).replace(" ","")
               if m==V:
                 value4=listaPb[h]
                 value5=value4.replace("]","").replace("[","")
                 break
           insert=value1,m,value2,m,value5
           mycursor.execute(sqlInsert, insert)
           conexion.commit()
listaResulRank=mycursoR1.execute(sqlResult)
for  b in mycursoR1 :
      print(b)

('MARCO GILBERTO BONILLA PALACIOS', 0.9581327555998407)
('VICENTE SALOMON TOAPANTA MUNOZ', 0.9232522008391462)
('MARIA GRACIA CALISTO RAMIREZ', 0.8332014792639382)
('MARIO RIVERA', 0.8267563513373386)
('FREDDY ORDONEZ MALLA', 0.8199626346332991)
('NARANJO MENDOZA CARLOS ANDRES', 0.8078513532345258)
('CARMEN ALICIA CARABALI CARABALI', 0.7755417550200551)
('JOSE LUIS PALACIOS LOPEZ', 0.734487291252995)
('MARCELO POZO', 0.5763281926801951)
('MARIBEL LUNA', 0.543860009459235)
('IGNACIO BLADIMIR CERON GUERRA', 0.47074256783194374)
('LUIS ENRIQUE BARAJAS SANCHEZ', 0.320668396526034)
('ROBERTO WILSON BAHAMONDE TIPAN', 0.31120233004579956)
('RICARDO FABRICIO PREIS VARGAS', 0.306331873164621)
('JULIA MARIA MORENO AVILES', 0.30540294920952)
('JONATHAN GABRIEL LOOR BAUTISTA', 0.29864348615374203)
('CARLOS WIME DIAZ CAMPOVERDE', 0.27296601827132316)
('ANGEL FERNANDO USHINA PUMA', 0.2595409649675936)
('SILVIA AZUCENA VALENCIA CHAMORRO', 0.25880682920621595)
('MANUEL FREIRE', 0.25721590537118716)
('BLADIMIR CERON GUERRA', 0.2554849789799615)
('LEANDRO OCTAVIO SCACCO FRANCO', 0.25524337992733276)
('FAUSTO OVIEDO', 0.24785690817397438)
('MARCELO SALVADOR LOZADA LOPEZ', 0.2476604860392112)
('WILSON RENAN CORNEJO ORQUERA', 0.24722066841096316)
('DIEGO RENATO CARDENAS CARDENAS', 0.2439590115757088)
('RAUL DARIO BALDEON LOPEZ', 0.24122265901516318)
('LESTER JOEL PEREZ LOZADA', 0.23808112146208)
('LUIS RIGOBERTO MAISINCHO GUAGRILLA', 0.235480273534032)
('JULIO LOZADA LOPEZ', 0.23280397749507678)
('IVAN ZAMBRANO OREJUELA', 0.232662194416592)
('MIGUEL ANGEL OROZCO ESPINOZA', 0.22814590358950398)
('JANETH GAIBOR VILLOTA', 0.22692580662687997)
('DIEGO FERNANDO NARVAEZ RIVADENEIRA', 0.22528461524619836)
('VINICIO RENE MELO GORDILLO', 0.22452903607481597)
('JUAN MARCELO IBUJES VILLACIS', 0.2207657893673632)
('MARCELO HIDALGO B', 0.2207657893673632)
('PATRICIA MOTHES', 0.2194204072385168)
('TRAJANO RAMIREZ', 0.21733604432577902)
('PATRICIO HONORATO PLACENCIA ANDRADE', 0.21147212687761918)
('MIGUEL DARIO ORTEGA LOPEZ', 0.21083127650070238)
('RAMON HUMBERTO VERA LEON', 0.19945892590645758)
('RUBEN GUILLERMO ORTEGA VERINAZ', 0.1969352917236)
('MARIO CALIXTO RUIZ ROMERO', 0.19473887387025118)
('KARINA ISABEL ESTRELLA CANTOS', 0.1947318862010032)
('NELSON ALEJANDRO ARAUJO GRIJALVA', 0.18454199274029917)